@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    -webkit-print-color-adjust: exact;
  }
}

:root {
  --dark_black: #454545;
  --light_blak: #545454;
  --header_color: #ff914d;
  --font_size_1: 20px;
  --font_size_2: 16px;
  --font_size_3: 14px;
}

body {
  background-color: rgb(77, 76, 76);
  font-family: 'PT Sans', sans-serif;
}

.header_line {
  width: 100%;
  height: 5mm;
  background-color: var(--header_color) !important;
}

.container {
  height: 297mm;
  width: 210mm;
  margin: 0 auto;
  background-color: #fff;
  color: var(--light_blak);
}

.inner {
  width: calc(210mm - (10mm * 2));
  margin: 15mm auto;
}

h1#title {
  font-size: 36px;
  color: var(--dark_black);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--font_size_1);
  margin: 0 0 2mm 0;
  padding: 0;
  color: var(--dark_black);
}

h3 {
  font-size: var(--font_size_2);
  margin: 0 0 1mm 0;
  padding: 0;
  color: var(--dark_black);
}

h4 {
  font-size: var(--font_size_3);
  margin: 0;
  padding: 0;
  font-style: italic;
}

.section {
  border-bottom: 1px solid #a6a6a6;
  padding: 3mm 0;
}

.contact {
  display: flex;
  /* border-bottom: 1px solid #a6a6a6; */
  color: var(--dark_black);
  /* padding-bottom: 3mm; */
}

.contact_left {
  margin-right: 30mm;
}

ul.contact_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--font_size_3);
}

ul.contact_ul li {
  font-weight: bold;
  margin-bottom: 1mm;
}

ul.contact_ul li span {
  font-weight: lighter;
}

ul.contact_ul li span a {
  color: var(--dark_black);
}
.summary p {
  margin: 0;
  padding: 0;
  font-size: var(--font_size_3);
}

.career {
  margin-bottom: 2mm;
}

ul.career_ul {
  margin: 0;
  /* padding: 0; */
  font-size: var(--font_size_3);
}

.project {
  padding: 0 0 2mm 0;
}

.project h3 {
  font-size: var(--font_size_1);
  margin: 0;
  padding: 0;
}

.project h3 span {
  margin-left: 1mm;
}

.project h3 span a {
  font-size: var(--font_size_2);
  color: var(--dark_black);
}

.project p {
  font-size: var(--font_size_3);
  margin: 0;
  padding: 0;
}

.education h3 {
  font-weight: lighter;
}
.education h3 span {
  font-weight: bold;
}
